.navbar{
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGIN PAGE STYLING */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-card{
  background-color: #34495e;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.login-button {
  background-color: #1abc9c;;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.login-button:hover {
  background-color: #16a085;
}

/* PRODUCTS GRID */

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}